<button mat-raised-button (click)="PostDialog()">Create Post</button>
<div class="row">
  <div class="col-md-4" *ngFor="let item of items | async">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
        {{item.body}} 
      <mat-card-footer><small>{{item.date}}</small></mat-card-footer>
      <button mat-button (click)="PostDialog(item)">edit</button>
      <button mat-button (click)="DeletePost(item.id)">delete</button>
    </div>
    </div>
  </div>
</div>