<mat-tab-group>
  <mat-tab label="Info">
    <div class="profile-picture mat-elevation-z1" matRipple><img [src]="profilePicture"></div>
    <mat-form-field>
      <input matInput placeholder="Username" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Primary Email" />
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Link Google Account">
    <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="StepChanged($event)">
      <mat-step [stepControl]="GoogleAuthForm">
        <form [formGroup]="GoogleAuthForm">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="username" required>
          </mat-form-field>
          <button mat-button (click)="login()">Login</button>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="GoogleAuthForm">
        <form [formGroup]="GoogleAuthForm">
          <ng-template matStepLabel>Confirm Account</ng-template>
          <h5>{{user | json}}</h5>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" formControlName="confirmPassword" required></mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>
  <mat-tab label="Change Password">
    <mat-form-field>
      <input matInput placeholder="Current Password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" />
    </mat-form-field>
  </mat-tab>
</mat-tab-group>